body {
    background-color: rgb(211, 190, 190);
}

h1 {
    margin-right: 15vh;
    margin-left: 15vh;
    text-align: center;
}

#scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 3px solid blue;
    padding-bottom: 7vh;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10vh;
}

.sceneText {
    margin-right: 15vh;
    margin-left: 15vh;
}

.choice-button {
    margin-right: 5vh;
    margin-left: 5vh;
}
